@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<hr />
<a asp-action="Contact" class="btn btn-success">Send Email</a><br /><hr />
<a asp-action="CheckCompletion" class="btn btn-danger">Check Job Completion</a>